@whiteColor: white;
@blueColor: #337ab7;

/*animations*/
@keyframes "blinker" {
	50% {
		opacity: 0;
	}
}
@keyframes "floater"{
    0%   { left:0px;top:45px; position:absolute;}
    25%  { left:100px; top:0px;position:absolute;}
    50%  { left:200px; top:45px;position:absolute;}
    75%  { left:250px; top:0px;position:absolute;}
    100% { left:260px; top:45px;opacity: 0;zoom:1;}
}
@-webkit-keyframes "floater" {
    0%   { left:0px;top:45px; position:absolute;}
    25%  { left:100px; top:0px;position:absolute;}
    50%  { left:200px; top:45px;position:absolute;}
    75%  { left:250px; top:0px;position:absolute;}
    100% { left:500px; top:90px;opacity: 0;}
}
.floatMe{
    z-index: 1000;
    animation: floater 4s cubic-bezier(.31,.82,.81,.15) 1 forwards;
}
.blinkMe {
	animation: blinker 2s linear 2;
}
.btn {
	box-shadow: 5px 5px 5px gray;
}
.paddingLeft0px {
	padding-left: 0px;
}
.paddingRight0px {
	padding-right: 0px;
}

#message {
	box-shadow: 5px 5px 5px gray;
}
.usersCountDiv {
	span {
		box-shadow: 5px 5px 5px gray;
	}
	margin: 3% auto;
	text-align: right;
	font-size: 1.5em;
	padding-right: 0px;
}
.jumbotron {
	margin-bottom: 3%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 15px !important;
	padding-left: 15px !important;
	background: linear-gradient(#326fb6, #1f4270);
	color: @whiteColor;
	h1 {
		font-size: 2em;
		text-align: center;
		margin-top: 10px;
	}
}
.parentDiv {
	border: solid gray;
	padding: 5px;
	padding-bottom: 3%;
	max-width: 550px;
	margin: 0 auto;
	margin-top: 5%;
	border-radius: 5px;
}
.messagesDiv {
	background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
	min-height: 250px;
	max-height: 250px;
	overflow-y: auto;
	margin-bottom: 3%;
	margin-top: 3%;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	padding-top: 3%;
}
.newMessage {
	margin-top: 0px !important;
	margin-bottom: 15px;
	.actualMessageText {
		width: auto;
		background: white;
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 3%;
	}
}
.isUserTypingDiv {
	text-align: center;
	padding-right: 0px;
	color: @blueColor;
	visibility: hidden;
	font-weight: bold;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
	.messagesDiv {
		min-height: 400px;
		max-height: 400px;
	}
}
